<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Оценка риска</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

    <script
        src="{{ url_for('static', filename='script.js') }}"
        defer   
    ></script>
</head>

<body>
    <main class="page">
        <section class="survey-card">

            <header class="survey-header">
                <p class="subtitle">Клиническая анкета</p>

                <h1>Программа прогнозирования спонтанных экстремально ранних преждевременных родов с выполнением расчета в I и II триместрах беременности</h1>

            </header>

            <form
                id="survey-form"
                method="post"
                action="{{ url_for('submit') }}"
            >
                <input type="hidden" name="model" value="model2">
                <fieldset class="question">
                    <legend>
                        1. Уровень лейкоцитов в общем анализе крови:
                    </legend>

                    <div class="options">
                        <label class="option">
                            <input
                                type="radio"
                                name="wb_level"
                                value="0"
                                required
                            >
                            <span>Норма (≤&nbsp;11 × 10<sup class="power">9</sup>/л)</span>
                        </label>

                        <label class="option">
                            <input
                                type="radio"
                                name="wb_level"
                                value="1"
                            >
                            <span>Нет (&gt;&nbsp;11 × 10<sup class="power">9</sup>/л)</span>
                        </label>
                    </div>
                </fieldset>

                <fieldset class="question">
                    <legend>
                        2.  Отношение среднего количества лейкоцитов к среднему количеству клеток многослойного плоского эпителия при микроскопическом исследовании влагалищного мазка:
                    </legend>

                    <div class="options">
                        <label class="option">
                            <input
                                type="radio"
                                name="wb_avg_ep_avg_ratio"
                                value="0"
                                required
                            >
                            <span>Норма (&lt;&nbsp;0,4)</span>
                        </label>

                        <label class="option">
                            <input
                                type="radio"
                                name="wb_avg_ep_avg_ratio"
                                value="1"
                            >
                            <span>Нет (≥&nbsp;0,4)</span>
                        </label>
                    </div>
                </fieldset>

                <fieldset class="question">
                    <legend>
                        3. Один или более поздних выкидышей в анамнезе?
                    </legend>

                    <div class="options">
                        <label class="option">
                            <input
                                type="radio"
                                name="abortion"
                                value="1"
                                required
                            >
                            <span>Да</span>
                        </label>

                        <label class="option">
                            <input
                                type="radio"
                                name="abortion"
                                value="0"
                            >
                            <span>Нет</span>
                        </label>
                    </div>
                </fieldset>

                <fieldset class="question">
                    <legend>
                        4. Синдром поликистозных яичников в анамнезе?
                    </legend>

                    <div class="options">
                        <label class="option">
                            <input
                                type="radio"
                                name="polycystic_ovary"
                                value="1"
                                required
                            >
                            <span>Да</span>
                        </label>

                        <label class="option">
                            <input
                                type="radio"
                                name="polycystic_ovary"
                                value="0"
                            >
                            <span>Нет</span>
                        </label>
                    </div>
                </fieldset>

                <fieldset class="question">
                    <legend>
                        5.  Количество лейкоцитов при микроскопическом исследовании влагалищного мазка:
                    </legend>        
                    <div class="options">
                        <label class="option">
                            <input
                                type="radio"
                                name="wb_count"
                                value="0"
                                required
                            >
                            <span>Норма (&lt;&nbsp;15)</span>
                        </label>

                        <label class="option">
                            <input
                                type="radio"
                                name="wb_count"
                                value="1"
                            >
                            <span>Нет (≥&nbsp;15)</span>
                        </label>
                    </div>
                </fieldset>

                <button
                    id="submit-button"
                    class="submit-button"
                    type="submit"
                >
                    Рассчитать результат
                </button>
            </form>

        <a class="back-link" href="{{ url_for('index') }}">
            ← К выбору анкет
        </a>
        </section>
        
    </main>


    <dialog
        id="result-dialog"
        class="result-dialog"
    >
        <div class="dialog-content">

            <button
                id="dialog-close-icon"
                class="dialog-close-icon"
                type="button"
                aria-label="Закрыть окно"
            >
                ×
            </button>

            <p class="dialog-subtitle">
                Результат расчёта
            </p>

            <h2 id="result-title">
                Расчёт выполнен
            </h2>

            <p
                id="result-value"
                class="result-value"
            >
                0 %
            </p>


            <p class="dialog-disclaimer">
                Полученное значение не является диагнозом.
            </p>

            <div class="dialog-actions">
                <button
                    id="reset-button"
                    class="secondary-button"
                    type="button"
                >
                    Заполнить заново
                </button>

                <button
                    id="dialog-close-button"
                    class="primary-button"
                    type="button"
                    autofocus
                >
                    Закрыть
                </button>
            </div>
        </div>
    </dialog>
</body>
</html>