<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Оценка риска</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

    <script
        src="{{ url_for('static', filename='script.js') }}"
        defer
    ></script>
</head>

<body>
    <main>
        <h1>Выберите анкету</h1>
        <p>Выберите подходящую для вас анкету</p>
        <section>
            <h2>Оценка вероятности спонтанных преждевременных родов с выполнением расчета в I и II триместрах беременности</h2>
            <a href="/questionnaires/premature-birth">Перейти к анкете</a>
        </section>
        <section>
            <h2>Анкета 2</h2>
        </section>
        <section>
            <h2>Анкета 3</h2>
        </section>
    </main>
</body>
</html>