<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Оценка риска</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

    <script
        src="{{ url_for('static', filename='script.js') }}"
        defer
    ></script>
</head>

<body>
    <main class="container">
        <h1>Выберите программу</h1>
        {% for questionnaire, link in questionnaires_links.items() %}
            <a class="questionnaire-card" href="{{ url_for(link) }}">
                <h2>{{ questionnaire }}</h2>
            </a>
        {% endfor %}
    </main>
</body>
</html>